body {
    background-color: darkslategray;
    color: white;
}

.ex1 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: greenYellow;
}

.ex2 {
    text-shadow: 3px 3px rgba(17, 29, 29, 0.27);
    text-decoration-line: overline;
    text-decoration-style: double;
    text-decoration-color: fuchsia;
}

.ex3 {
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: red;
}