body {
    background-color: darkkhaki;

}

/* Exemplo flex-direction row */

.ex1 {
    display: flex;
    background-color: rgb(165, 160, 97);
    gap: 10px;
    flex-direction: row;
}
.ex1 div {
    background-color: rgb(129, 125, 73);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

/* exemplo flex-direction column */
.ex2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(165, 160, 97);
    gap: 10px;
}

.ex2 div {
    background-color: rgb(129, 125, 73);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

/* exemplo de flex-friection row-reverse */
.ex3 {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(165, 160, 97);
    gap: 10px;
}

.ex3 div {
    background-color: rgb(129, 125, 73);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

/* exemplo de flex-friection column-reverse */
.ex4 {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(165, 160, 97);
    gap: 10px;
}

.ex4 div {
    background-color: rgb(129, 125, 73);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}


.ex5 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color:  rgb(127, 122, 61);
    gap: 10px;
}

.ex5 div {
    background-color: rgb(74, 71, 34);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(127, 122, 61);
    gap: 10px;
}

.ex6 div {
    background-color: rgb(74, 71, 34);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}

.ex7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: rgb(127, 122, 61);
    gap: 10px;
}

.ex7 div {
    background-color: rgb(74, 71, 34);
    color: white;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px;
}