body {
    background-color: darkkhaki;
    color: white;
}

.ex1 {
    background-color: rgb(165, 160, 97);
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

.ex1 div {
    width: 100px;
    height: 100px;
    background-color: rgb(129, 125, 73);
    text-align: center;
}

/*  */
.ex2 {
    background-color: rgb(165, 160, 97);
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    
}

.ex2 div {
    width: 100px;
    height: 100px;
    background-color: rgb(129, 125, 73);
    text-align: center;
}

/*  */
.ex3 {
    background-color: rgb(165, 160, 97);
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    
}

.ex3 div {
    width: 100px;
    height: 100px;
    background-color: rgb(129, 125, 73);
    text-align: center;
}

/*  */
.ex4 {
    background-color: rgb(165, 160, 97);
    display: flex;
    gap: 30px;
    justify-content: space-around;
    
}

.ex4 div {
    width: 100px;
    height: 100px;
    background-color: rgb(129, 125, 73);
    text-align: center;
}

/*  */
.ex5 {
    background-color: rgb(165, 160, 97);
    display: flex;
    gap: 30px;
    justify-content: space-between;
    
}

.ex5 div {
    width: 100px;
    height: 100px;
    background-color: rgb(129, 125, 73);
    text-align: center;
}

/*  */
.ex6 {
    background-color: rgb(165, 160, 97);
    display: flex;
    justify-content: space-evenly;
    
}

.ex6 div {
    width: 100px;
    height: 100px;
    background-color: rgb(129, 125, 73);
    text-align: center;
}