body {
    background-color: grey;
    color: white;
}

.ex1 {
    background-color: rgb(96, 96, 96);
    gap: 30px;
    display: flex;
    justify-content: center;
}

.ex1 div {
    background-color: rgb(47, 47, 47);
    width: 100px;
    height: 100px;
    text-align: center;
    align-content: center;
}

@media (max-width: 600px) {
    .ex1 {
        flex-direction: column;
        align-items: center;
    }
}