body {
    background-color: rgb(53, 29, 0);
    color: rgb(52, 13, 13);
    justify-items: center;
}

h1 {
    background-color: rgb(255, 228, 196, 0.6);
    color: rgb(86, 51, 190);
    border: 6px solid rgb(177, 159, 136);
    /* opacity: 0.5; */
}

h2 {
    background-color: rgb(255, 235, 205, 0.6);
    color: rgb(0, 90, 245);
    border: 4px solid rgb(170, 151, 122);
    /* opacity: 0.5; */
}

p{
    background-color: rgb(240, 248, 255, 0.4);
    color: rgb(25, 0, 48);
    border: 3px solid rgb(166, 173, 179);
    /* opacity: 0.5; */
}