body {
    background-color: rgb(169, 136, 201);
}

.ex1 {
    background-color: rgb(170, 79, 168);
    width: 230px;
    margin: 40px 100px;
}

.ex2 {
    width: 250px;
    background-color: rgb(170, 79, 168);
    margin: auto;
}

