body {
    background-color: rgb(123, 177, 177);
}

.el1 {
    background-color: blue;
    width: 500px;
}

.ex1 {
    background-color: aqua;
    width: 500px;
    padding: 50px;
    box-sizing: border-boxgit ;
}